.cyancolor
{
	color : darkcyan;
}
.bg-image
{
	background-image: url("Cover CV.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
}
.container-fluid{
   padding: 0;
}
h1
{
	font-size: 60px;
	color: white;
	text-align: right;
	padding-top: 130px;
	padding-right: 155px;
	padding-bottom: 20px;
}
h5
{
	font-size: 25px;
	color: darkturquoise;
	text-align: right;
	padding-right: 155px;
}
.navbar{
	padding-left: 155px;
	padding-right: 155px;
}
.navbar-dark .navbar-brand
{
	color: darkturquoise;
}
#about
{
	font-size: 35px;
	font-weight: bold;
	color: darkturquoise;
	text-align: left;
	padding-left: 155px;
}
.aboutme
{
	font-size: 18px;
	color: white;
	text-align: left;
	padding: 8px 155px 45px 40px;
}
.curriculum
{
	font-size: 24px;
	padding-left: 122px;
	color: white;
	font-weight: bold;
	text-align: left;
}
.curriculum2
{
	font-size: 24px;
	padding-left: 32px;
	padding-right: 155px;
	color: white;
	font-weight: bold;
	text-align: left;
}
.education
{
	padding-top: 5px;
	padding-left: 90px;
	padding-bottom: 45px;
	font-size: 18px;
	color: white;
	text-align: left;
}
.competition
{
	padding-top: 5px;
	padding-right: 155px;
	font-size: 18px;
	color: white;
	text-align: left;
}
#skills
{
	padding-bottom: 45px;
	font-size: 35px;
	font-weight: bold;
	color: darkturquoise;
	text-align: center;
}
.skillslist
{
	padding-left: 155px;
	padding-bottom: 15px;
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-align: left;
}
.skillsdesc
{
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 60px;
	font-size: 18px;
	color: black;
	text-align: left;
}
#design
{

	padding-bottom: 50px;
}
.container-fluid #portfolio
{
	height: 60px;
  	position: relative;
}
#portfolio
{
	margin: 0;
  	position: absolute;
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: darkturquoise;
}
#portfoliocontent
{
	padding-left: 50px; 
	padding-right: 200px;
}
#contact
{
	padding-bottom: 45px;
	font-size: 35px;
	font-weight: bold;
	color: darkturquoise;
	text-align: center;
}
.mycontact
{
	padding-bottom: 100px;
}
.mycontact a
{
	font-size: 16px;
	color: black;
	text-decoration: none;
}
.mycontact2 a
{
	font-size: 16px;
	color: black;
	padding-bottom: 15px;
	padding-left: 15px;
	text-decoration: none;
}
.mycontact a:hover
{
	color: gray;
}
.mycontact2 a:hover
{
	color: gray;
}
* {
  box-sizing: border-box;
}
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  background: #f1f1f1;
  border-width: 1px;
}
input:focus, input:focus {
  background-color: #ddd;
}
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  background: #f1f1f1;
}
textarea:focus, textarea:focus {
  background-color: #ddd;
}
.submit {
  background-color: black;
  color: white;
  padding: 16px 20px;
  margin-top: 8px;
  margin-bottom: 60px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.submit:hover {
  background-color: dimgray;
}
.center{
	margin: auto;
  width: 52%;
  padding: 10px;
}